.app {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas:
    'sidebar-empty header'
    'sidebar-nav main';

  &__header {
    //grid-column: 2 / 3;
    // grid-row: 1 / 2;
    grid-area: header;
    // background-color: gray;
  }

  &__sidebar {
    // grid-column: 1 / 2;
    // grid-row: 1 / 3;
    grid-area: sidebar-nav;
    // background-color: #333;
    background-color: var(--color-foreground);
  }
  &__main {
    // grid-column: 2 / 3;
    // grid-row: 2/3;
    grid-area: main;
    background-color: var(--background);
    padding: 2rem;  
  }
}
