@use 'sass:color';
$color-white: #f8f8f8;
$color-white-soft: color.adjust($color-white, $lightness: 102.5%);
$color-white-mute: color.adjust($color-white, $lightness: 105.5%);

$color-black: #181818;
$color-black-soft: color.adjust($color-black, $lightness: -7%);
$color-black-mute: color.adjust($color-black, $lightness: -15%);

$color-indigo: #2c3e50;

$color-divider-light-1: rgba($color-black, 0.29);
$color-divider-light-2: rgba($color-black, 0.12);
$color-divider-dark-1: rgba($color-white, 0.65);
$color-divider-dark-2: rgba($color-white, 0.48);

$color-text-light-1: $color-indigo;
$color-text-light-2: rgba($color-black, 0.66);
$color-text-dark-1: $color-white;
$color-text-dark-2: rgba($color-white, 0.64);

:root.dark-mode {
  color-scheme: dark;
  --color-background: $color-black;
  --color-foreground: $color-white;
  --color-background-soft: $color-black-soft;
  --color-background-mute: $color-black-mute;

  --color-border: $color-divider-dark-2;
  --color-border-hover: $color-divider-dark-1;

  --color-heading: $color-text-dark-1;
  --color-text: $color-text-dark-1;
}

:root.light-mode {
  color-scheme: light;
  --color-background: $color-white;
  --color-foreground: $color-black;
  --color-background-soft: $color-white-soft;
  --color-background-mute: $color-white-mute;

  --color-border: $color-divider-light-2;
  --color-border-hover: $color-divider-light-1;

  --color-heading: $color-text-light-1;
  --color-text: $color-text-light-1;
}

/* semantic color variables dark mode */
// @media (prefers-color-scheme: dark) {
//   :root {
//     color-scheme: dark;
//     --color-background: $color-black);
//     --color-background-soft: $color-black-soft);
//     --color-background-mute: $color-black-mute);

//     --color-foreground: $color-white);
//     --color-foreground-soft: $color-white-soft);
//     --color-foreground-mute: $color-white-mute);

//     --color-border: $color-divider-dark-2);
//     --color-border-hover: $color-divider-dark-1);

//     --color-heading: $color-text-dark-1);
//     --color-text: $color-text-dark-2);
//   }
// }

// .light-mode {
//   color-scheme: light;
//   --color-background: $color-white);
//   --color-background-soft: $color-white-soft);
//   --color-background-mute: $color-white-mute);

//   --color-foreground: $color-black);
//   --color-foreground-soft: $color-black-soft);
//   --color-foreground-mute: $color-black-mute);

//   --color-border: $color-divider-light-2);
//   --color-border-hover: $color-divider-light-1);

//   --color-heading: $color-text-light-1);
//   --color-text: $color-text-light-1);
// }
// .dark-mode {
//   color-scheme: dark;
//   --color-background: $color-black);
//   --color-background-soft: $color-black-soft);
//   --color-background-mute: $color-black-mute);

//   --color-foreground: $color-white);
//   --color-foreground-soft: $color-white-soft);
//   --color-foreground-mute: $color-white-mute);

//   --color-border: $color-divider-dark-2);
//   --color-border-hover: $color-divider-dark-1);

//   --color-heading: $color-text-dark-1);
//   --color-text: $color-text-dark-2);
// }
